In [1]:
# Imports 

import pandas as pd 
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Reading the Nashville data 
nash_data = pd.read_csv("listings.csv")
nash_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20211217003604,2021-12-17,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,https://www.airbnb.com/users/show/12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,20211217003604,2021-12-17,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",https://a0.muscache.com/pictures/43420407-69b6...,171184,https://www.airbnb.com/users/show/171184,...,4.98,4.94,4.94,NaN,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,20211217003604,2021-12-17,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,https://a0.muscache.com/pictures/58602855/3788...,176117,https://www.airbnb.com/users/show/176117,...,4.99,4.96,4.88,NaN,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,20211217003604,2021-12-17,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,https://www.airbnb.com/users/show/22296,...,4.90,4.74,4.73,NaN,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,20211217003604,2021-12-17,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,https://www.airbnb.com/users/show/22296,...,4.78,4.47,4.69,NaN,f,7,0,6,1,0.63

In [3]:
#  Nashville data shape
nash_data.shape

(6360, 74)

In [4]:
# Reading the Asheville data 
ashe_data = pd.read_csv("Asheville_listings.csv")
ashe_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20211215062309,2021-12-15,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,https://www.airbnb.com/users/show/320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.71
1,155305,https://www.airbnb.com/rooms/155305,20211215062309,2021-12-15,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,https://www.airbnb.com/users/show/746673,...,4.76,4.93,4.53,NaN,t,7,1,2,4,2.75
2,156805,https://www.airbnb.com/rooms/156805,20211215062309,2021-12-15,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,https://www.airbnb.com/users/show/746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,0.54
3,156926,https://www.airbnb.com/rooms/156926,20211215062309,2021-12-15,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,https://www.airbnb.com/users/show/746673,...,4.80,4.78,4.78,NaN,t,7,1,2,4,2.36
4,160594,https://www.airbnb.com/rooms/160594,20211215062309,2021-12-15,Historic Grove Park,Come enjoy the beautiful Grove Park neighborho...,NaN,https://a0.muscache.com/pictures/92433837/d340...,769252,https://www.airbnb.com/users/show/769252,...,4.88,4.90,4.85,NaN,f,1,0,1,0,0.46

In [5]:
# Asheville data shape
ashe_data.shape

(2626, 74)

In [6]:
# Checking for duplicates 
nash_unique = nash_data.drop_duplicates(subset=['id'])
nash_unique.shape 
# all unique entries 

ashe_unique = ashe_data.drop_duplicates(subset=['id'])
ashe_unique.shape
# all unique entries

(2626, 74)

In [7]:
nash_unique

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20211217003604,2021-12-17,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,https://www.airbnb.com/users/show/12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,20211217003604,2021-12-17,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",https://a0.muscache.com/pictures/43420407-69b6...,171184,https://www.airbnb.com/users/show/171184,...,4.98,4.94,4.94,NaN,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,20211217003604,2021-12-17,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,https://a0.muscache.com/pictures/58602855/3788...,176117,https://www.airbnb.com/users/show/176117,...,4.99,4.96,4.88,NaN,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,20211217003604,2021-12-17,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,https://www.airbnb.com/users/show/22296,...,4.90,4.74,4.73,NaN,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,20211217003604,2021-12-17,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,https://www.airbnb.com/users/show/22296,...,4.78,4.47,4.69,NaN,f,7,0,6,1,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6355,53848373,https://www.airbnb.com/rooms/53848373,20211217003604,2021-12-17,TWO LUXURY TOWNHOMES - SLEEPS 24,"2 home combo in MidTown now available, located...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,20772148,https://www.airbnb.com/users/show/20772148,...,NaN,NaN,NaN,NaN,t,37,37,0,0,NaN
6356,53849579,https://www.airbnb.com/rooms/53849579,20211217003604,2021-12-17,NYE Buffett Style! Margaritaville Studio Sleeps 4,A prime location in the heart of downtown Nash...,NaN,https://a0.muscache.com/pictures/39e84b36-7480...,372514865,https://www.airbnb.com/users/show/372514865,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
6357,53850709,https://www.airbnb.com/rooms/53850709,20211217003604,2021-12-17,"Good as Gold Rowhouse - Minutes to downtown, V...","Love food, music, rooftop decks and uber comfy...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,26211861,https://www.airbnb.com/users/show/26211861,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6358,53855857,https://www.airbnb.com/rooms/53855857,20211217003604,2021-12-17,New Year's Eve!! Margaritaville Studio Sleeps 4,This resort offers studio rooms that comfortab...,NaN,https://a0.muscache.com/pictures/39e84b36-7480...,372514865,https://www.airbnb.com/users/show/372514865,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
6359,53859326,https://www.airbnb.com/rooms/53859326,20211217003604,2021-12-17,Nashville Famous - Luxurious Townhome with Swe...,A luxurious and uniquely styled townhome with ...,"Located 6 miles from downtown Nashville, 6 mil...",https://a0.muscache.com/pictures/prohost-api/H...,85360355,https://www.airbnb.com/users/show/85360355,...,NaN,NaN,NaN,NaN,f,81,81,0,0,NaN

In [8]:
# Looking at the columns to drop 
nash_unique.columns

# get ridding of scrape_id, last_scraped, host_has_profile_pic, picture_url, host_thumbnail_url, host_picture_url, host_ neighborhood, bathrooms, neighbourhood_group_cleansed, calendar_updated, minimum_minimum_nights, maximum_minimum_nights, 
# minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm  , maximum_nights_avg_ntm, has_availability, "calendar_last_scraped", "license", "month", 
nash_columns = nash_unique.drop(["scrape_id", "last_scraped", "host_has_profile_pic", "picture_url", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "bathrooms",\
     "neighbourhood_group_cleansed", "calendar_updated", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights",\
    "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "license"], axis=1)

In [9]:
# Dropping columns for Asheville dataset 
ashe_columns = ashe_unique.drop(["scrape_id", "last_scraped", "host_has_profile_pic", "picture_url", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "bathrooms",\
     "neighbourhood_group_cleansed", "calendar_updated", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights",\
    "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "license"], axis=1)

In [10]:
# dropping the null rows 
nash_rows = nash_columns.dropna()
nash_rows

,id,listing_url,name,description,neighborhood_overview,host_id,host_url,host_name,host_since,host_location,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,12172,https://www.airbnb.com/users/show/12172,Michele,2009-04-03,"Nashville, Tennessee, United States",...,4.97,4.96,4.92,4.98,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",171184,https://www.airbnb.com/users/show/171184,Evelyn,2010-07-18,"San Francisco, California, United States",...,4.99,4.98,4.94,4.94,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,176117,https://www.airbnb.com/users/show/176117,Richard Carson,2010-07-21,"Nashville, Tennessee, United States",...,4.98,4.99,4.96,4.88,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",22296,https://www.airbnb.com/users/show/22296,Diana,2009-06-19,"Nashville, Tennessee, United States",...,4.92,4.90,4.74,4.73,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,22296,https://www.airbnb.com/users/show/22296,Diana,2009-06-19,"Nashville, Tennessee, United States",...,4.83,4.78,4.47,4.69,f,7,0,6,1,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,53328346,https://www.airbnb.com/rooms/53328346,"Southern Glam, Minutes to Downtown-Sleeps 12","Welcome to “Southern Glam,” a new modern luxur...","Located in East Nashville, literally just over...",319913,https://www.airbnb.com/users/show/319913,Reservations,2010-12-15,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,f,16,16,0,0,1.00
6146,53357202,https://www.airbnb.com/rooms/53357202,The Forrest Suite - Private Suite in Quiet Area!,This charming one bedroom suite is a perfect h...,This home is located in the cul-de-sac of a ch...,85360355,https://www.airbnb.com/users/show/85360355,StayLocal,2016-07-22,"Nashville, Tennessee, United States",...,5.00,4.75,5.00,5.00,f,81,81,0,0,4.00
6171,53417336,https://www.airbnb.com/rooms/53417336,The Ridley - Cozy Home in Central Location,A spacious yet delightfully cozy feeling 3 bed...,"In the Wedgewood - Houston area, you`ll find y...",85360355,https://www.airbnb.com/users/show/85360355,StayLocal,2016-07-22,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,f,81,81,0,0,1.00
6173,53419077,https://www.airbnb.com/rooms/53419077,Lux Penthouse Getaway,Lux Gateaway - a modern and luxruious condo. E...,Our place is in a great location downtown! Loc...,85631229,https://www.airbnb.com/users/show/85631229,Alexis,2016-07-24,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,t,9,9,0,0,1.00
6229,53588853,https://www.airbnb.com/rooms/53588853,Modern Home ★ Super Fun Design ★ Rooftop Terrace,Enjoy our luxury home with 2500 square feet of...,East Nashville has a quirky vibe and a buzzing...,101426897,https://www.airbnb.com/users/show/101426897,Host Extraordinaires,2016-10-26,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,t,123,123,0,0,1.00

In [11]:
# Asheville columns 
ashe_rows = ashe_columns.dropna()
ashe_rows.shape

(1028, 51)

1. Are there certain zip codes that have noticeably higher ratings than other zip codes?

In [12]:
nash_rows.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [13]:
# Renaming the Nashville district code column 

nash_clean = nash_rows.rename(columns={"neighbourhood_cleansed": "district","review_scores_accuracy":"accuracry_review", "review_scores_cleanliness":"cleanliness_review","review_scores_checkin":"checkin_review",\
    "review_scores_communication":"communication_review","review_scores_location":"location_review","review_scores_value":"value_score", "review_scores_rating": "rating_score"})

# reordering the columns 
new_column_order = ["district", "rating_score", "accuracry_review", "cleanliness_review", "checkin_review", "communication_review", "location_review", "value_score"]

nash_clean = nash_clean[new_column_order]

# sorting by the district 
nash_zip_rating_df = nash_clean.sort_values(by=["district"])

len(nash_zip_rating_df) #2692 

nash_zip_rating_df

,district,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score
2891,District 1,4.88,4.91,4.87,4.99,4.96,4.92,4.80
341,District 1,4.94,4.95,4.84,4.89,4.84,4.90,4.89
2182,District 1,5.00,5.00,5.00,5.00,5.00,5.00,5.00
3558,District 1,4.65,4.65,4.59,4.76,4.82,4.18,4.59
2516,District 1,4.95,4.98,4.97,5.00,4.99,4.87,4.96
...,...,...,...,...,...,...,...,...
3545,District 9,4.92,4.92,4.95,4.98,4.98,4.77,4.89
1462,District 9,4.83,4.88,4.82,4.96,4.92,4.44,4.80
3133,District 9,5.00,5.00,5.00,4.79,5.00,4.89,4.95
1227,District 9,4.72,4.61,4.93,5.00,4.89,4.48,4.67
1582,District 9,4.87,4.84,4.74,4.90,4.87,4.68,4.84

In [14]:
# findings out how many Nashville districts 
num_nash_districts = nash_zip_rating_df["district"].unique()

num_nash_districts2 = len(num_nash_districts)
# 35

num_nash_districts2

35

In [15]:
# Analyzing each individual district 
nash_district_1 = nash_zip_rating_df[nash_zip_rating_df.district == "District 1"]

# mean of all the columns 
nash_district1_avg = nash_district_1.mean()

# creating a dataframe for district 1 
nash_dist_1_df = pd.DataFrame(nash_district1_avg)
nash_dist_1_df

# renaming the column 0 to District 1 
nash1_clean_df = nash_dist_1_df.rename(columns={0:"District 1"})
nash1_updated_df = nash1_clean_df.transpose()

nash1_updated_df["number_properties"]= len(nash_district_1)
nash1_updated_df

flip_nash1 = nash1_updated_df.transpose()

flip_nash1

                      District 1
rating_score            4.919091
accuracry_review        4.933636
cleanliness_review      4.867727
checkin_review          4.970455
communication_review    4.963636
location_review         4.855000
value_score             4.911818
number_properties      22.000000

In [16]:
# Nashville District 2 
nash_district_2 = nash_zip_rating_df[nash_zip_rating_df.district == "District 2"]

# Analyzing each individual district 
nash_district_2 = nash_zip_rating_df[nash_zip_rating_df.district == "District 2"]
len(nash_district_2) #22 

# mean of all the columns 
nash_district2_avg = nash_district_2.mean()

# creating a dataframe for district 1 
nash_dist_2_df = pd.DataFrame(nash_district2_avg)
nash_dist_2_df

# renaming the column 0 to District 1 
nash2_clean_df = nash_dist_2_df.rename(columns={0:"District 2"})
nash2_updated_df = nash2_clean_df.transpose()

nash2_updated_df["number_properties"]= len(nash_district_2)
nash2_updated_df

flip_nash2 = nash2_updated_df.transpose()

In [17]:
# Analyzing each individual district 
nash_district_3 = nash_zip_rating_df[nash_zip_rating_df.district == "District 3"]
len(nash_district_3) #22 

# mean of all the columns 
nash_district3_avg = nash_district_3.mean()

# creating a dataframe for district 1 
nash_dist_3_df = pd.DataFrame(nash_district3_avg)
nash_dist_3_df

# renaming the column 0 to District 1 
nash3_clean_df = nash_dist_3_df.rename(columns={0:"District 3"})
nash3_updated_df = nash3_clean_df.transpose()

nash3_updated_df["number_properties"]= len(nash_district_3)
nash3_updated_df

flip_nash3 = nash3_updated_df.transpose()

In [18]:
# Analyzing each individual district 
nash_district_4 = nash_zip_rating_df[nash_zip_rating_df.district == "District 4"]
len(nash_district_4) #22 

# mean of all the columns 
nash_district4_avg = nash_district_4.mean()

# creating a dataframe for district 1 
nash_dist_4_df = pd.DataFrame(nash_district4_avg)
nash_dist_4_df

# renaming the column 0 to District 1 
nash4_clean_df = nash_dist_4_df.rename(columns={0:"District 4"})
nash4_updated_df = nash4_clean_df.transpose()

nash4_updated_df["number_properties"]= len(nash_district_4)
nash4_updated_df

flip_nash4 = nash4_updated_df.transpose()

In [19]:
# Analyzing each individual district 
nash_district_5 = nash_zip_rating_df[nash_zip_rating_df.district == "District 5"]
len(nash_district_5) #22 

# mean of all the columns 
nash_district5_avg = nash_district_5.mean()

# creating a dataframe for district 1 
nash_dist_5_df = pd.DataFrame(nash_district5_avg)
nash_dist_5_df

# renaming the column 0 to District 1 
nash5_clean_df = nash_dist_5_df.rename(columns={0:"District 5"})
nash5_updated_df = nash5_clean_df.transpose()

nash5_updated_df["number_properties"]= len(nash_district_5)
nash5_updated_df

flip_nash5 = nash5_updated_df.transpose()

In [20]:
# Analyzing each individual district 
nash_district_6 = nash_zip_rating_df[nash_zip_rating_df.district == "District 6"]
len(nash_district_6) #22 

# mean of all the columns 
nash_district6_avg = nash_district_6.mean()

# creating a dataframe for district 1 
nash_dist_6_df = pd.DataFrame(nash_district6_avg)
nash_dist_6_df

# renaming the column 0 to District 1 
nash6_clean_df = nash_dist_6_df.rename(columns={0:"District 6"})
nash6_updated_df = nash6_clean_df.transpose()

nash6_updated_df["number_properties"]= len(nash_district_6)
nash6_updated_df

flip_nash6 = nash6_updated_df.transpose()

In [21]:
# Analyzing each individual district 
nash_district_7 = nash_zip_rating_df[nash_zip_rating_df.district == "District 7"]

# mean of all the columns 
nash_district7_avg = nash_district_7.mean()

# creating a dataframe for district 1 
nash_dist_7_df = pd.DataFrame(nash_district7_avg)
nash_dist_7_df

# renaming the column 0 to District 1 
nash7_clean_df = nash_dist_7_df.rename(columns={0:"District 7"})
nash7_updated_df = nash7_clean_df.transpose()

nash7_updated_df["number_properties"]= len(nash_district_7)
nash7_updated_df

flip_nash7 = nash7_updated_df.transpose()

In [22]:
# Analyzing each individual district 
nash_district_8 = nash_zip_rating_df[nash_zip_rating_df.district == "District 8"]
len(nash_district_8)  

# mean of all the columns 
nash_district8_avg = nash_district_8.mean()

# creating a dataframe for district 1 
nash_dist_8_df = pd.DataFrame(nash_district8_avg)
nash_dist_8_df

# renaming the column 0 to District 1 
nash8_clean_df = nash_dist_8_df.rename(columns={0:"District 8"})
nash8_updated_df = nash8_clean_df.transpose()

nash8_updated_df["number_properties"]= len(nash_district_8)
nash8_updated_df

flip_nash8 = nash8_updated_df.transpose()

In [23]:
# Analyzing each individual district 
nash_district_9 = nash_zip_rating_df[nash_zip_rating_df.district == "District 9"]
len(nash_district_9) 

# mean of all the columns 
nash_district9_avg = nash_district_9.mean()

# creating a dataframe for district 1 
nash_dist_9_df = pd.DataFrame(nash_district9_avg)
nash_dist_9_df

# renaming the column 0 to District 1 
nash9_clean_df = nash_dist_9_df.rename(columns={0:"District 9"})
nash9_updated_df = nash9_clean_df.transpose()

nash9_updated_df["number_properties"]= len(nash_district_9)
nash9_updated_df

flip_nash9 = nash9_updated_df.transpose()

In [24]:
# Analyzing each individual district 
nash_district_10 = nash_zip_rating_df[nash_zip_rating_df.district == "District 10"]
len(nash_district_10) 

# mean of all the columns 
nash_district10_avg = nash_district_10.mean()

# creating a dataframe for district 1 
nash_dist_10_df = pd.DataFrame(nash_district10_avg)
nash_dist_10_df

# renaming the column 0 to District 1 
nash10_clean_df = nash_dist_10_df.rename(columns={0:"District 10"})
nash10_updated_df = nash10_clean_df.transpose()

nash10_updated_df["number_properties"]= len(nash_district_10)
nash10_updated_df

flip_nash10 = nash10_updated_df.transpose()

In [25]:
# Analyzing each individual district 
nash_district_11 = nash_zip_rating_df[nash_zip_rating_df.district == "District 11"]
len(nash_district_11) 

# mean of all the columns 
nash_district11_avg = nash_district_11.mean()

# creating a dataframe for district 1 
nash_dist_11_df = pd.DataFrame(nash_district11_avg)
nash_dist_11_df

# renaming the column 0 to District 1 
nash11_clean_df = nash_dist_11_df.rename(columns={0:"District 11"})
nash11_updated_df = nash11_clean_df.transpose()

nash11_updated_df["number_properties"]= len(nash_district_11)
nash11_updated_df

flip_nash11 = nash11_updated_df.transpose()

In [26]:
# Analyzing each individual district 
nash_district_12 = nash_zip_rating_df[nash_zip_rating_df.district == "District 12"]
len(nash_district_12) 

# mean of all the columns 
nash_district12_avg = nash_district_12.mean()

# creating a dataframe for district 1 
nash_dist_12_df = pd.DataFrame(nash_district12_avg)
nash_dist_12_df

# renaming the column 0 to District 1 
nash12_clean_df = nash_dist_12_df.rename(columns={0:"District 12"})
nash12_updated_df = nash12_clean_df.transpose()

nash12_updated_df["number_properties"]= len(nash_district_12)
nash12_updated_df

flip_nash12 = nash12_updated_df.transpose()

In [27]:
# Analyzing each individual district 
nash_district_13 = nash_zip_rating_df[nash_zip_rating_df.district == "District 13"]
len(nash_district_13) 

# mean of all the columns 
nash_district13_avg = nash_district_13.mean()

# creating a dataframe for district 1 
nash_dist_13_df = pd.DataFrame(nash_district13_avg)
nash_dist_13_df

# renaming the column 0 to District 1 
nash13_clean_df = nash_dist_13_df.rename(columns={0:"District 13"})
nash13_updated_df = nash13_clean_df.transpose()

nash13_updated_df["number_properties"]= len(nash_district_13)
nash13_updated_df

flip_nash13 = nash13_updated_df.transpose()

In [28]:
# Analyzing each individual district 
nash_district_14 = nash_zip_rating_df[nash_zip_rating_df.district == "District 14"]
len(nash_district_14) 

# mean of all the columns 
nash_district14_avg = nash_district_14.mean()

# creating a dataframe for district 1 
nash_dist_14_df = pd.DataFrame(nash_district14_avg)
nash_dist_14_df

# renaming the column 0 to District 1 
nash14_clean_df = nash_dist_14_df.rename(columns={0:"District 14"})
nash14_updated_df = nash14_clean_df.transpose()

nash14_updated_df["number_properties"]= len(nash_district_14)
nash14_updated_df

flip_nash14 = nash14_updated_df.transpose()

In [29]:
# Analyzing each individual district 
nash_district_15 = nash_zip_rating_df[nash_zip_rating_df.district == "District 15"]
len(nash_district_15) 

# mean of all the columns 
nash_district15_avg = nash_district_15.mean()

# creating a dataframe for district 1 
nash_dist_15_df = pd.DataFrame(nash_district15_avg)
nash_dist_15_df

# renaming the column 0 to District 1 
nash15_clean_df = nash_dist_15_df.rename(columns={0:"District 15"})
nash15_updated_df = nash15_clean_df.transpose()

nash15_updated_df["number_properties"]= len(nash_district_15)
nash15_updated_df

flip_nash15 = nash15_updated_df.transpose()

In [30]:
# Analyzing each individual district 
nash_district_16 = nash_zip_rating_df[nash_zip_rating_df.district == "District 16"]
len(nash_district_16) 

# mean of all the columns 
nash_district16_avg = nash_district_16.mean()

# creating a dataframe for district 1 
nash_dist_16_df = pd.DataFrame(nash_district16_avg)
nash_dist_16_df

# renaming the column 0 to District 1 
nash16_clean_df = nash_dist_16_df.rename(columns={0:"District 16"})
nash16_updated_df = nash16_clean_df.transpose()

nash16_updated_df["number_properties"]= len(nash_district_16)
nash16_updated_df

flip_nash16 = nash16_updated_df.transpose()

In [31]:
# Analyzing each individual district 
nash_district_17 = nash_zip_rating_df[nash_zip_rating_df.district == "District 17"]
len(nash_district_17) 

# mean of all the columns 
nash_district17_avg = nash_district_17.mean()

# creating a dataframe for district 1 
nash_dist_17_df = pd.DataFrame(nash_district17_avg)
nash_dist_17_df

# renaming the column 0 to District 1 
nash17_clean_df = nash_dist_17_df.rename(columns={0:"District 17"})
nash17_updated_df = nash17_clean_df.transpose()

nash17_updated_df["number_properties"]= len(nash_district_17)
nash17_updated_df

flip_nash17 = nash17_updated_df.transpose()

In [32]:
# Analyzing each individual district 
nash_district_18 = nash_zip_rating_df[nash_zip_rating_df.district == "District 18"]
len(nash_district_18) 

# mean of all the columns 
nash_district18_avg = nash_district_18.mean()

# creating a dataframe for district 1 
nash_dist_18_df = pd.DataFrame(nash_district18_avg)
nash_dist_18_df

# renaming the column 0 to District 1 
nash18_clean_df = nash_dist_18_df.rename(columns={0:"District 18"})
nash18_updated_df = nash18_clean_df.transpose()

nash18_updated_df["number_properties"]= len(nash_district_18)
nash18_updated_df

flip_nash18 = nash18_updated_df.transpose()

In [33]:
# Analyzing each individual district 
nash_district_19 = nash_zip_rating_df[nash_zip_rating_df.district == "District 19"]
len(nash_district_19) 

# mean of all the columns 
nash_district19_avg = nash_district_19.mean()

# creating a dataframe for district 1 
nash_dist_19_df = pd.DataFrame(nash_district19_avg)
nash_dist_19_df

# renaming the column 0 to District 1 
nash19_clean_df = nash_dist_19_df.rename(columns={0:"District 19"})
nash19_updated_df = nash19_clean_df.transpose()

nash19_updated_df["number_properties"]= len(nash_district_19)
nash19_updated_df

flip_nash19 = nash19_updated_df.transpose()

In [34]:
# Analyzing each individual district 
nash_district_20 = nash_zip_rating_df[nash_zip_rating_df.district == "District 20"]
len(nash_district_20) 

# mean of all the columns 
nash_district20_avg = nash_district_20.mean()

# creating a dataframe for district 1 
nash_dist_20_df = pd.DataFrame(nash_district20_avg)
nash_dist_20_df

# renaming the column 0 to District 1 
nash20_clean_df = nash_dist_20_df.rename(columns={0:"District 20"})
nash20_updated_df = nash20_clean_df.transpose()

nash20_updated_df["number_properties"]= len(nash_district_20)
nash20_updated_df

flip_nash20 = nash20_updated_df.transpose()

In [35]:
# Analyzing each individual district 
nash_district_21 = nash_zip_rating_df[nash_zip_rating_df.district == "District 21"]
len(nash_district_21) 

# mean of all the columns 
nash_district21_avg = nash_district_21.mean()

# creating a dataframe for district 1 
nash_dist_21_df = pd.DataFrame(nash_district21_avg)
nash_dist_21_df

# renaming the column 0 to District 1 
nash21_clean_df = nash_dist_21_df.rename(columns={0:"District 21"})
nash21_updated_df = nash21_clean_df.transpose()

nash21_updated_df["number_properties"]= len(nash_district_21)
nash21_updated_df

flip_nash21 = nash21_updated_df.transpose()

In [36]:
# Analyzing each individual district 
nash_district_22 = nash_zip_rating_df[nash_zip_rating_df.district == "District 22"]
len(nash_district_22) 

# mean of all the columns 
nash_district22_avg = nash_district_22.mean()

# creating a dataframe for district 1 
nash_dist_22_df = pd.DataFrame(nash_district22_avg)
nash_dist_22_df

# renaming the column 0 to District 1 
nash22_clean_df = nash_dist_22_df.rename(columns={0:"District 22"})
nash22_updated_df = nash22_clean_df.transpose()

nash22_updated_df["number_properties"]= len(nash_district_22)
nash22_updated_df

flip_nash22 = nash22_updated_df.transpose()

In [37]:
# Analyzing each individual district 
nash_district_23 = nash_zip_rating_df[nash_zip_rating_df.district == "District 23"]
len(nash_district_23) 

# mean of all the columns 
nash_district23_avg = nash_district_23.mean()

# creating a dataframe for district 1 
nash_dist_23_df = pd.DataFrame(nash_district23_avg)
nash_dist_23_df

# renaming the column 0 to District 1 
nash23_clean_df = nash_dist_23_df.rename(columns={0:"District 23"})
nash23_updated_df = nash23_clean_df.transpose()

nash23_updated_df["number_properties"]= len(nash_district_23)
nash23_updated_df

flip_nash23 = nash23_updated_df.transpose()

In [38]:
# Analyzing each individual district 
nash_district_24 = nash_zip_rating_df[nash_zip_rating_df.district == "District 24"]
len(nash_district_24) 

# mean of all the columns 
nash_district24_avg = nash_district_24.mean()

# creating a dataframe for district 1 
nash_dist_24_df = pd.DataFrame(nash_district24_avg)
nash_dist_24_df

# renaming the column 0 to District 1 
nash24_clean_df = nash_dist_24_df.rename(columns={0:"District 24"})
nash24_updated_df = nash24_clean_df.transpose()

nash24_updated_df["number_properties"]= len(nash_district_24)
nash24_updated_df

flip_nash24 = nash24_updated_df.transpose()

In [39]:
# Analyzing each individual district 
nash_district_25 = nash_zip_rating_df[nash_zip_rating_df.district == "District 25"]
len(nash_district_25) 

# mean of all the columns 
nash_district25_avg = nash_district_25.mean()

# creating a dataframe for district 1 
nash_dist_25_df = pd.DataFrame(nash_district25_avg)
nash_dist_25_df

# renaming the column 0 to District 1 
nash25_clean_df = nash_dist_25_df.rename(columns={0:"District 25"})
nash25_updated_df = nash25_clean_df.transpose()

nash25_updated_df["number_properties"]= len(nash_district_25)
nash25_updated_df

flip_nash25 = nash25_updated_df.transpose()

In [40]:
# Analyzing each individual district 
nash_district_26 = nash_zip_rating_df[nash_zip_rating_df.district == "District 26"]
len(nash_district_26) 

# mean of all the columns 
nash_district26_avg = nash_district_26.mean()

# creating a dataframe for district 1 
nash_dist_26_df = pd.DataFrame(nash_district26_avg)
nash_dist_26_df

# renaming the column 0 to District 1 
nash26_clean_df = nash_dist_26_df.rename(columns={0:"District 26"})
nash26_updated_df = nash26_clean_df.transpose()

nash26_updated_df["number_properties"]= len(nash_district_26)
nash26_updated_df

flip_nash26 = nash26_updated_df.transpose()

In [41]:
# Analyzing each individual district 
nash_district_27 = nash_zip_rating_df[nash_zip_rating_df.district == "District 27"]
len(nash_district_27) 

# mean of all the columns 
nash_district27_avg = nash_district_27.mean()

# creating a dataframe for district 1 
nash_dist_27_df = pd.DataFrame(nash_district27_avg)
nash_dist_27_df

# renaming the column 0 to District 1 
nash27_clean_df = nash_dist_27_df.rename(columns={0:"District 27"})
nash27_updated_df = nash27_clean_df.transpose()

nash27_updated_df["number_properties"]= len(nash_district_27)
nash27_updated_df

flip_nash27 = nash27_updated_df.transpose()

In [42]:
# Analyzing each individual district 
nash_district_28 = nash_zip_rating_df[nash_zip_rating_df.district == "District 28"]
len(nash_district_28) 

# mean of all the columns 
nash_district28_avg = nash_district_28.mean()

# creating a dataframe for district 1 
nash_dist_28_df = pd.DataFrame(nash_district28_avg)
nash_dist_28_df

# renaming the column 0 to District 1 
nash28_clean_df = nash_dist_28_df.rename(columns={0:"District 28"})
nash28_updated_df = nash28_clean_df.transpose()

nash28_updated_df["number_properties"]= len(nash_district_28)
nash28_updated_df

flip_nash28 = nash28_updated_df.transpose()

In [43]:
# Analyzing each individual district 
nash_district_29 = nash_zip_rating_df[nash_zip_rating_df.district == "District 29"]
len(nash_district_29) 

# mean of all the columns 
nash_district29_avg = nash_district_29.mean()

# creating a dataframe for district 1 
nash_dist_29_df = pd.DataFrame(nash_district29_avg)
nash_dist_29_df

# renaming the column 0 to District 1 
nash29_clean_df = nash_dist_29_df.rename(columns={0:"District 29"})
nash29_updated_df = nash29_clean_df.transpose()

nash29_updated_df["number_properties"]= len(nash_district_29)
nash29_updated_df

flip_nash29 = nash29_updated_df.transpose()

In [44]:
# Analyzing each individual district 
nash_district_30 = nash_zip_rating_df[nash_zip_rating_df.district == "District 30"]
len(nash_district_30) 

# mean of all the columns 
nash_district30_avg = nash_district_30.mean()

# creating a dataframe for district 1 
nash_dist_30_df = pd.DataFrame(nash_district30_avg)
nash_dist_30_df

# renaming the column 0 to District 1 
nash30_clean_df = nash_dist_30_df.rename(columns={0:"District 30"})
nash30_updated_df = nash30_clean_df.transpose()

nash30_updated_df["number_properties"]= len(nash_district_30)
nash30_updated_df

flip_nash30 = nash30_updated_df.transpose()

In [45]:
# Analyzing each individual district 
nash_district_31 = nash_zip_rating_df[nash_zip_rating_df.district == "District 31"]
len(nash_district_31) 

# mean of all the columns 
nash_district31_avg = nash_district_31.mean()

# creating a dataframe for district 
nash_dist_31_df = pd.DataFrame(nash_district31_avg)
nash_dist_31_df

# renaming the column 0 to District  
nash31_clean_df = nash_dist_31_df.rename(columns={0:"District 31"})
nash31_updated_df = nash31_clean_df.transpose()

nash31_updated_df["number_properties"]= len(nash_district_31)
nash31_updated_df

flip_nash31 = nash31_updated_df.transpose()

In [46]:
# Analyzing each individual district 
nash_district_32 = nash_zip_rating_df[nash_zip_rating_df.district == "District 32"]
len(nash_district_32) 

# mean of all the columns 
nash_district32_avg = nash_district_32.mean()

# creating a dataframe for district 1 
nash_dist_32_df = pd.DataFrame(nash_district32_avg)
nash_dist_32_df

# renaming the column 0 to District 1 
nash32_clean_df = nash_dist_32_df.rename(columns={0:"District 32"})
nash32_updated_df = nash32_clean_df.transpose()

nash32_updated_df["number_properties"]= len(nash_district_32)
nash32_updated_df

flip_nash32 = nash32_updated_df.transpose()

In [47]:
# Analyzing each individual district 
nash_district_33 = nash_zip_rating_df[nash_zip_rating_df.district == "District 33"]
len(nash_district_33) 

# mean of all the columns 
nash_district33_avg = nash_district_33.mean()

# creating a dataframe for district 1 
nash_dist_33_df = pd.DataFrame(nash_district33_avg)
nash_dist_33_df

# renaming the column 0 to District 1 
nash33_clean_df = nash_dist_33_df.rename(columns={0:"District 33"})
nash33_updated_df = nash33_clean_df.transpose()

nash33_updated_df["number_properties"]= len(nash_district_33)
nash33_updated_df

flip_nash33 = nash33_updated_df.transpose()

In [48]:
# Analyzing each individual district 
nash_district_34 = nash_zip_rating_df[nash_zip_rating_df.district == "District 34"]
len(nash_district_34) 

# mean of all the columns 
nash_district34_avg = nash_district_34.mean()

# creating a dataframe for district 1 
nash_dist_34_df = pd.DataFrame(nash_district34_avg)
nash_dist_34_df

# renaming the column 0 to District 1 
nash34_clean_df = nash_dist_34_df.rename(columns={0:"District 34"})
nash34_updated_df = nash34_clean_df.transpose()

nash34_updated_df["number_properties"]= len(nash_district_34)
nash34_updated_df

flip_nash34 = nash34_updated_df.transpose()

In [49]:
# Analyzing each individual district 
nash_district_35 = nash_zip_rating_df[nash_zip_rating_df.district == "District 35"]
len(nash_district_35) 

# mean of all the columns 
nash_district35_avg = nash_district_35.mean()

# creating a dataframe for district 1 
nash_dist_35_df = pd.DataFrame(nash_district35_avg)
nash_dist_35_df

# renaming the column 0 to District 1 
nash35_clean_df = nash_dist_35_df.rename(columns={0:"District 35"})
nash35_updated_df = nash35_clean_df.transpose()

nash35_updated_df["number_properties"]= len(nash_district_35)
nash35_updated_df
flip_nash35 = nash35_updated_df.transpose()
flip_nash35

                      District 35
rating_score             4.843846
accuracry_review         4.881538
cleanliness_review       4.790000
checkin_review           4.959231
communication_review     4.890769
location_review          4.876923
value_score              4.854615
number_properties       13.000000

In [50]:
# Joining all the district dataframes 
frames = [flip_nash35, flip_nash34, flip_nash33, flip_nash32, flip_nash31, flip_nash30, flip_nash29, flip_nash28, flip_nash27, flip_nash26, flip_nash25, flip_nash24, flip_nash23,\
            flip_nash22, flip_nash21, flip_nash20, flip_nash19, flip_nash18, flip_nash17, flip_nash16, flip_nash15, flip_nash14, flip_nash13, flip_nash12, flip_nash11, flip_nash10,\
                flip_nash9,flip_nash8, flip_nash7, flip_nash6, flip_nash5, flip_nash4, flip_nash3, flip_nash2, flip_nash1]
complete_nashville_df = pd.concat(frames, axis=1)

nashville_df = complete_nashville_df.transpose()
nashville_df.sort_values(by=['rating_score'])

nashville_df2 = nashville_df.reset_index().rename(columns={"index":"district"})

In [51]:
# finding the top 5 districts 
top_5_nash_df = nashville_df.sort_values(by=['rating_score']).tail(5)
top_5_nash_df

,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties
District 3,4.918333,4.965833,4.875000,4.963333,4.954167,4.849167,4.790000,12.0
District 25,4.918966,4.942414,4.921724,4.959310,4.949310,4.950345,4.862414,29.0
District 1,4.919091,4.933636,4.867727,4.970455,4.963636,4.855000,4.911818,22.0
District 10,4.944615,4.892308,4.945385,4.994615,4.929231,4.913846,4.852308,13.0
District 33,4.986667,4.986667,4.650000,4.990000,4.996667,4.960000,4.973333,3.0

In [52]:
# Start to explore correlations within the data for Nashville "reviews_scores_rating" for total rating - correlation
correlations_nash=nash_rows.corr()
correlations_nash=correlations_nash["review_scores_rating"].sort_values(ascending=False)
features=correlations_nash.index[1:6]
correlations_nash

review_scores_rating                            1.000000
review_scores_accuracy                          0.868489
review_scores_value                             0.863821
review_scores_communication                     0.823744
review_scores_cleanliness                       0.809785
review_scores_checkin                           0.748340
review_scores_location                          0.632192
number_of_reviews                               0.090247
reviews_per_month                               0.075220
number_of_reviews_l30d                          0.068485
number_of_reviews_ltm                           0.063343
bedrooms                                        0.042809
latitude                                        0.034839
longitude                                       0.032403
accommodates                                    0.025618
beds                                            0.024949
host_id                                         0.020105
calculated_host_listings_count_shared_rooms    -0.025216
maximum_nights                                 -0.032297
calculated_host_listings_count_private_rooms   -0.046884
minimum_nights                                 -0.061422
id                                             -0.095797
calculated_host_listings_count_entire_homes    -0.140939
calculated_host_listings_count                 -0.142271
host_total_listings_count                      -0.404534
host_listings_count                            -0.404534
Name: review_scores_rating, dtype: float64

In [53]:
# Explore correlation in host listing count versus other characteristics in the Nashville data
correlations_nash_host=nash_rows.corr()
correlations_nash_host=correlations_nash_host["host_listings_count"].sort_values(ascending=False)
features=correlations_nash_host.index[1:6]
correlations_nash_host

host_listings_count                             1.000000
host_total_listings_count                       1.000000
calculated_host_listings_count                  0.213100
calculated_host_listings_count_entire_homes     0.188642
calculated_host_listings_count_private_rooms    0.185047
id                                              0.132245
beds                                            0.066005
accommodates                                    0.065796
bedrooms                                        0.048703
longitude                                       0.035944
maximum_nights                                  0.031888
calculated_host_listings_count_shared_rooms    -0.008167
latitude                                       -0.018608
minimum_nights                                 -0.029365
host_id                                        -0.047489
number_of_reviews_l30d                         -0.062335
number_of_reviews_ltm                          -0.091123
reviews_per_month                              -0.092437
number_of_reviews                              -0.100169
review_scores_location                         -0.274270
review_scores_cleanliness                      -0.301272
review_scores_accuracy                         -0.336433
review_scores_checkin                          -0.375336
review_scores_rating                           -0.404534
review_scores_value                            -0.416634
review_scores_communication                    -0.427238
Name: host_listings_count, dtype: float64

In [54]:
# Does the description accuracy of the listing correlate with a higher rating in any category for the Nashville data?
correlations_nash_accuracy=nash_rows.corr()
correlations_nash_accuracy=correlations_nash_accuracy["review_scores_accuracy"].sort_values(ascending=False)
features=correlations_nash_accuracy.index[1:6]
correlations_nash_accuracy

review_scores_accuracy                          1.000000
review_scores_rating                            0.868489
review_scores_value                             0.784694
review_scores_communication                     0.755550
review_scores_cleanliness                       0.745546
review_scores_checkin                           0.715890
review_scores_location                          0.584320
reviews_per_month                               0.117896
number_of_reviews                               0.116380
number_of_reviews_l30d                          0.098785
number_of_reviews_ltm                           0.098375
host_id                                         0.033810
longitude                                       0.029334
latitude                                        0.013276
bedrooms                                        0.003248
accommodates                                   -0.009342
beds                                           -0.011526
calculated_host_listings_count_shared_rooms    -0.022082
calculated_host_listings_count_private_rooms   -0.023424
maximum_nights                                 -0.040772
id                                             -0.085053
minimum_nights                                 -0.090512
calculated_host_listings_count                 -0.129155
calculated_host_listings_count_entire_homes    -0.129981
host_total_listings_count                      -0.336433
host_listings_count                            -0.336433
Name: review_scores_accuracy, dtype: float64

Asheville Data

In [55]:
# Renaming the Asheville district code column 

ashe_clean = ashe_rows.rename(columns={"neighbourhood_cleansed": "district","review_scores_accuracy":"accuracry_review", "review_scores_cleanliness":"cleanliness_review","review_scores_checkin":"checkin_review",\
    "review_scores_communication":"communication_review","review_scores_location":"location_review","review_scores_value":"value_score", "review_scores_rating": "rating_score"})

# reordering the columns 
new_column_order1 = ["district", "rating_score", "accuracry_review", "cleanliness_review", "checkin_review", "communication_review", "location_review", "value_score"]

ashe_clean = ashe_clean[new_column_order1]

# sorting by the district 
ashe_zip_rating_df = ashe_clean.sort_values(by=["district"])

len(ashe_zip_rating_df) #1028

ashe_zip_rating_df

,district,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score
180,28704,4.80,4.88,4.70,4.96,4.96,4.85,4.91
1781,28704,4.44,4.61,4.94,4.89,4.67,4.83,4.44
167,28704,4.97,4.96,4.97,4.99,4.97,4.88,4.91
2001,28704,5.00,4.95,4.95,5.00,5.00,4.91,4.82
1746,28704,4.95,4.93,4.91,4.98,5.00,4.91,4.91
...,...,...,...,...,...,...,...,...
1437,28806,4.88,4.91,4.97,4.99,4.99,4.96,4.89
441,28806,4.86,4.96,4.80,4.95,4.97,4.89,4.90
1414,28806,4.72,4.80,4.77,4.93,4.90,4.64,4.69
1404,28806,4.89,4.94,4.97,4.99,4.99,4.97,4.85
2597,28806,5.00,5.00,5.00,5.00,5.00,5.00,5.00

In [56]:
# uploading dataframe to SQL 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/AirBNB"

engine = create_engine(db_string)

# ashe_zip_rating_df.to_sql(name="ashe_zip", con=engine)

In [ ]:
# uploading the nashville DF to SQL
nash_zip_rating_df.to_sql(name="nash_zip", con=engine)

In [ ]:
# uploading the district analysis for nashville to SQL 
nashville_df.to_sql(name="nash_stat_per_district", con=engine)

In [58]:
# findings out how many Asheville districts 
num_ashe_districts = ashe_zip_rating_df["district"].unique()
num_ashe_districts

# num_ashe_districts2 = len(num_ashe_districts)

# num_ashe_districts2 # 8

array([28704, 28715, 28732, 28801, 28803, 28804, 28805, 28806])

In [59]:
# Analyzing each individual district 
ashe_district_28704 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28704]

# mean of all the columns 
ashe_district28704_avg = ashe_district_28704.mean()

# creating a dataframe for district 1 
ashe_dist_28704_df = pd.DataFrame(ashe_district28704_avg)
ashe_dist_28704_df

# renaming the column 0 to District 1 
ashe28704_clean_df = ashe_dist_28704_df.rename(columns={0:"District 28704"})
ashe28704_updated_df = ashe28704_clean_df.transpose()

ashe28704_updated_df["number_properties"]= len(ashe_district_28704)
ashe28704_updated_df

flip_ashe28704 = ashe28704_updated_df.transpose()

flip_ashe28704

                      District 28704
district                28704.000000
rating_score                4.875455
accuracry_review            4.896182
cleanliness_review          4.876909
checkin_review              4.971091
communication_review        4.951273
location_review             4.869091
value_score                 4.806727
number_properties          55.000000

In [60]:
# Analyzing each individual district 
ashe_district_28715 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28715]

# mean of all the columns 
ashe_district28715_avg = ashe_district_28715.mean()

# creating a dataframe for district 1 
ashe_dist_28715_df = pd.DataFrame(ashe_district28715_avg)
ashe_dist_28715_df

# renaming the column 0 to District 1 
ashe28715_clean_df = ashe_dist_28715_df.rename(columns={0:"District 28715"})
ashe28715_updated_df = ashe28715_clean_df.transpose()

ashe28715_updated_df["number_properties"]= len(ashe_district_28715)
ashe28715_updated_df

flip_ashe28715 = ashe28715_updated_df.transpose()

In [61]:
# Analyzing each individual district 
ashe_district_28732 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28732]

# mean of all the columns 
ashe_district28732_avg = ashe_district_28732.mean()

# creating a dataframe for district 1 
ashe_dist_28732_df = pd.DataFrame(ashe_district28732_avg)
ashe_dist_28732_df

# renaming the column 0 to District 1 
ashe28732_clean_df = ashe_dist_28732_df.rename(columns={0:"District 28732"})
ashe28732_updated_df = ashe28732_clean_df.transpose()

ashe28732_updated_df["number_properties"]= len(ashe_district_28732)
ashe28732_updated_df

flip_ashe28732 = ashe28732_updated_df.transpose()

In [62]:
# Analyzing each individual district 
ashe_district_28801 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28801]

# mean of all the columns 
ashe_district28801_avg = ashe_district_28801.mean()

# creating a dataframe for district 1 
ashe_dist_28801_df = pd.DataFrame(ashe_district28801_avg)
ashe_dist_28801_df

# renaming the column 0 to District 1 
ashe28801_clean_df = ashe_dist_28801_df.rename(columns={0:"District 28801"})
ashe28801_updated_df = ashe28801_clean_df.transpose()

ashe28801_updated_df["number_properties"]= len(ashe_district_28801)
ashe28801_updated_df

flip_ashe28801 = ashe28801_updated_df.transpose()

In [63]:
# Analyzing each individual district 
ashe_district_28803 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28803]

# mean of all the columns 
ashe_district28803_avg = ashe_district_28803.mean()

# creating a dataframe for district 1 
ashe_dist_28803_df = pd.DataFrame(ashe_district28803_avg)
ashe_dist_28803_df

# renaming the column 0 to District 1 
ashe28803_clean_df = ashe_dist_28803_df.rename(columns={0:"District 28803"})
ashe28803_updated_df = ashe28803_clean_df.transpose()

ashe28803_updated_df["number_properties"]= len(ashe_district_28803)
ashe28803_updated_df

flip_ashe28803 = ashe28803_updated_df.transpose()

In [64]:
# Analyzing each individual district 
ashe_district_28804 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28804]

# mean of all the columns 
ashe_district28804_avg = ashe_district_28804.mean()

# creating a dataframe for district  
ashe_dist_28804_df = pd.DataFrame(ashe_district28804_avg)
ashe_dist_28804_df

# renaming the column 0 to District 1 
ashe28804_clean_df = ashe_dist_28804_df.rename(columns={0:"District 28804"})
ashe28804_updated_df = ashe28804_clean_df.transpose()

ashe28804_updated_df["number_properties"]= len(ashe_district_28804)
ashe28804_updated_df

flip_ashe28804 = ashe28804_updated_df.transpose()

In [65]:
# Analyzing each individual district 
ashe_district_28805 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28805]

# mean of all the columns 
ashe_district28805_avg = ashe_district_28805.mean()

# creating a dataframe for district 1 
ashe_dist_28805_df = pd.DataFrame(ashe_district28805_avg)
ashe_dist_28805_df

# renaming the column 0 to District 1 
ashe28805_clean_df = ashe_dist_28805_df.rename(columns={0:"District 28805"})
ashe28805_updated_df = ashe28805_clean_df.transpose()

ashe28805_updated_df["number_properties"]= len(ashe_district_28805)
ashe28805_updated_df

flip_ashe28805 = ashe28805_updated_df.transpose()

In [66]:
# Analyzing each individual district 
ashe_district_28806 = ashe_zip_rating_df[ashe_zip_rating_df.district == 28806]

# mean of all the columns 
ashe_district28806_avg = ashe_district_28806.mean()

# creating a dataframe for district 1 
ashe_dist_28806_df = pd.DataFrame(ashe_district28806_avg)
ashe_dist_28806_df

# renaming the column 0 to District 1 
ashe28806_clean_df = ashe_dist_28806_df.rename(columns={0:"District 28806"})
ashe28806_updated_df = ashe28806_clean_df.transpose()

ashe28806_updated_df["number_properties"]= len(ashe_district_28806)
ashe28806_updated_df

flip_ashe28806 = ashe28806_updated_df.transpose()
flip_ashe28806

                      District 28806
district                28806.000000
rating_score                4.896623
accuracry_review            4.924735
cleanliness_review          4.914437
checkin_review              4.966821
communication_review        4.955662
location_review             4.877517
value_score                 4.844503
number_properties         302.000000

In [67]:
# Joining all the district dataframes 
frames = [flip_ashe28704, flip_ashe28715, flip_ashe28732, flip_ashe28801, flip_ashe28803, flip_ashe28804, flip_ashe28805, flip_ashe28806]
complete_asheville_df = pd.concat(frames, axis=1)

asheville_df = complete_asheville_df.transpose()
stat_ashe_per_district_df = asheville_df.sort_values(by=['rating_score']).drop(labels="district", axis=1)

stat_ashe_per_district_df1 = stat_ashe_per_district_df.reset_index().rename(columns={"index":"district"})
stat_ashe_per_district_df1

,district,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties
0,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0
1,District 28704,4.875455,4.896182,4.876909,4.971091,4.951273,4.869091,4.806727,55.0
2,District 28804,4.880360,4.907554,4.894460,4.967482,4.958849,4.862086,4.821655,139.0
3,District 28801,4.882558,4.919070,4.906837,4.949488,4.942698,4.915302,4.801767,215.0
4,District 28806,4.896623,4.924735,4.914437,4.966821,4.955662,4.877517,4.844503,302.0
5,District 28803,4.904706,4.932176,4.899235,4.969941,4.956235,4.893353,4.845588,170.0
6,District 28732,4.909583,4.937500,4.877917,4.979583,4.956250,4.890000,4.874583,24.0
7,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0

In [68]:
top_5_ashe_df = stat_ashe_per_district_df.tail()
top_5_ashe_df

,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties
District 28801,4.882558,4.919070,4.906837,4.949488,4.942698,4.915302,4.801767,215.0
District 28806,4.896623,4.924735,4.914437,4.966821,4.955662,4.877517,4.844503,302.0
District 28803,4.904706,4.932176,4.899235,4.969941,4.956235,4.893353,4.845588,170.0
District 28732,4.909583,4.937500,4.877917,4.979583,4.956250,4.890000,4.874583,24.0
District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0

In [69]:
# joining the top 5 districts (Nashville & Asheville) by ratings 
top_5_frames = [top_5_ashe_df, top_5_nash_df]
combined_top_5_ratings = pd.merge(top_5_ashe_df, top_5_nash_df, how="outer")

combined_top_5_ratings

,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties
0,4.882558,4.919070,4.906837,4.949488,4.942698,4.915302,4.801767,215.0
1,4.896623,4.924735,4.914437,4.966821,4.955662,4.877517,4.844503,302.0
2,4.904706,4.932176,4.899235,4.969941,4.956235,4.893353,4.845588,170.0
3,4.909583,4.937500,4.877917,4.979583,4.956250,4.890000,4.874583,24.0
4,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0
5,4.918333,4.965833,4.875000,4.963333,4.954167,4.849167,4.790000,12.0
6,4.918966,4.942414,4.921724,4.959310,4.949310,4.950345,4.862414,29.0
7,4.919091,4.933636,4.867727,4.970455,4.963636,4.855000,4.911818,22.0
8,4.944615,4.892308,4.945385,4.994615,4.929231,4.913846,4.852308,13.0
9,4.986667,4.986667,4.650000,4.990000,4.996667,4.960000,4.973333,3.0

In [70]:
# combining all districts from Nashville and Asheville 
all_ratings_zip = pd.merge(nashville_df, stat_ashe_per_district_df, how="outer")
all_ratings_zip.sort_values("rating_score")

,rating_score,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties
21,4.762273,4.838182,4.798182,4.913636,4.802273,4.673636,4.752727,22.0
5,4.763846,4.835385,4.676154,4.938462,4.917692,4.710000,4.763846,13.0
3,4.775000,4.810000,4.841667,4.908333,4.885000,4.843333,4.838333,6.0
1,4.777500,4.932500,4.817500,4.967500,4.972500,4.945000,4.785000,4.0
13,4.783750,4.907500,4.806250,4.933750,4.953750,4.835000,4.827500,8.0
33,4.786757,4.833514,4.737703,4.861622,4.875946,4.632297,4.769054,74.0
7,4.794286,4.837143,4.798571,4.947143,4.927143,4.754286,4.822857,7.0
20,4.795732,4.839024,4.824024,4.886098,4.859146,4.829878,4.744390,82.0
24,4.797500,4.807500,4.660000,4.973750,4.971250,4.643750,4.920000,8.0
14,4.797569,4.837294,4.772078,4.898431,4.893255,4.670863,4.758588,255.0
16,4.808919,4.858156,4.818029,4.856693,4.889650,4.799269,4.738045,629.0
23,4.821818,4.836364,4.641818,4.932273,4.917727,4.798182,4.769091,22.0
17,4.828426,4.870833,4.837315,4.889537,4.888148,4.899352,4.779074,108.0
0,4.843846,4.881538,4.790000,4.959231,4.890769,4.876923,4.854615,13.0
19,4.845574,4.901475,4.807541,4.960000,4.951475,4.763770,4.810328,61.0
22,4.865357,4.907143,4.806786,4.941071,4.945357,4.850714,4.847500,28.0
35,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0
11,4.870000,4.895357,4.853036,4.954464,4.941071,4.883571,4.836071,56.0
36,4.875455,4.896182,4.876909,4.971091,4.951273,4.869091,4.806727,55.0
15,4.876579,4.904342,4.833421,4.930000,4.931053,4.807237,4.858026,76.0
26,4.878333,4.863333,4.895000,4.935000,4.940000,4.691667,4.846667,6.0
37,4.880360,4.907554,4.894460,4.967482,4.958849,4.862086,4.821655,139.0
30,4.881800,4.902933,4.851267,4.951967,4.939300,4.764833,4.823400,300.0
4,4.882500,4.942500,4.950000,4.945000,4.907500,4.850000,4.925000,4.0
38,4.882558,4.919070,4.906837,4.949488,4.942698,4.915302,4.801767,215.0
8,4.883750,4.906250,4.877500,4.971250,4.903750,4.821250,4.853750,8.0
9,4.883889,4.918333,4.878889,4.954444,4.943889,4.839444,4.866667,18.0
18,4.887112,4.909544,4.848602,4.936261,4.936201,4.850456,4.825015,329.0
12,4.888571,4.875714,4.872857,4.947143,4.930000,4.884286,4.825714,7.0
31,4.891111,4.945556,4.922222,4.961111,4.955556,4.845556,4.885556,9.0
39,4.896623,4.924735,4.914437,4.966821,4.955662,4.877517,4.844503,302.0
27,4.898966,4.948621,4.840517,4.972759,4.962586,4.875000,4.902759,58.0
28,4.904074,4.922000,4.890074,4.958667,4.951111,4.823333,4.865407,135.0
40,4.904706,4.932176,4.899235,4.969941,4.956235,4.893353,4.845588,170.0
29,4.905984,4.920643,4.889719,4.948394,4.944458,4.908233,4.844618,249.0
6,4.908333,4.932778,4.903889,4.966111,4.935000,4.826111,4.873889,18.0
41,4.909583,4.937500,4.877917,4.979583,4.956250,4.890000,4.874583,24.0
32,4.918333,4.965833,4.875000,4.963333,4.954167,4.849167,4.790000,12.0
10,4.918966,4.942414,4.921724,4.959310,4.949310,4.950345,4.862414,29.0
34,4.919091,4.933636,4.867727,4.970455,4.963636,4.855000,4.911818,22.0
42,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0
25,4.944615,4.892308,4.945385,4.994615,4.929231,4.913846,4.852308,13.0
2,4.986667,4.986667,4.650000,4.990000,4.996667,4.960000,4.973333,3.0

In [ ]:
# sending the combined table for all districts to SQL
all_ratings_zip.to_sql(name="all_ratings", con=engine)

In [ ]:
stat_ashe_per_district_df.to_sql(name="ashe_stat_per_district", con=engine)

In [ ]:
combined_top_5_ratings.to_sql(name="combined_top_5_zip", con=engine)

In [72]:
# Start to explore correlations within the data for Asheville "reviews_scores_rating" for total rating - correlation
correlations_ashe=ashe_rows.corr()
correlations_ashe=correlations_ashe["review_scores_rating"].sort_values(ascending=False)
features=correlations_ashe.index[1:6]
correlations_ashe

review_scores_rating                            1.000000
review_scores_accuracy                          0.806759
review_scores_value                             0.735744
review_scores_cleanliness                       0.733921
review_scores_communication                     0.670030
review_scores_location                          0.520559
review_scores_checkin                           0.495233
number_of_reviews_l30d                          0.131060
reviews_per_month                               0.121143
id                                              0.093053
number_of_reviews_ltm                           0.092185
longitude                                       0.057827
neighbourhood_cleansed                          0.038637
number_of_reviews                               0.009101
host_id                                        -0.009092
latitude                                       -0.009836
minimum_nights                                 -0.031957
beds                                           -0.043317
accommodates                                   -0.066471
calculated_host_listings_count_private_rooms   -0.084409
maximum_nights                                 -0.094776
bedrooms                                       -0.099641
calculated_host_listings_count_shared_rooms    -0.119143
calculated_host_listings_count_entire_homes    -0.189796
calculated_host_listings_count                 -0.207435
host_total_listings_count                      -0.220193
host_listings_count                            -0.220193
Name: review_scores_rating, dtype: float64

In [73]:
# Explore correlation in host listing count versus other characteristics in the Asheville data
correlations_ashe_host=ashe_rows.corr()
correlations_ashe_host=correlations_ashe_host["host_listings_count"].sort_values(ascending=False)
features=correlations_ashe_host.index[1:6]
correlations_ashe_host

host_listings_count                             1.000000
host_total_listings_count                       1.000000
calculated_host_listings_count_entire_homes     0.577757
calculated_host_listings_count                  0.573715
bedrooms                                        0.221261
accommodates                                    0.195412
maximum_nights                                  0.178329
beds                                            0.170397
id                                              0.151507
longitude                                       0.119805
host_id                                         0.102246
calculated_host_listings_count_shared_rooms    -0.006564
minimum_nights                                 -0.037098
calculated_host_listings_count_private_rooms   -0.057971
latitude                                       -0.116586
number_of_reviews_l30d                         -0.121069
number_of_reviews_ltm                          -0.126769
review_scores_checkin                          -0.143637
review_scores_cleanliness                      -0.147681
number_of_reviews                              -0.151744
review_scores_location                         -0.154305
reviews_per_month                              -0.162258
neighbourhood_cleansed                         -0.191542
review_scores_accuracy                         -0.206078
review_scores_rating                           -0.220193
review_scores_value                            -0.245432
review_scores_communication                    -0.279527
Name: host_listings_count, dtype: float64

In [74]:
# Does the description accuracy of the listing correlate with a higher rating in any category for the Asheville data?
correlations_ashe_accuracy=ashe_rows.corr()
correlations_ashe_accuracy=correlations_ashe_accuracy["review_scores_accuracy"].sort_values(ascending=False)
features=correlations_ashe_accuracy.index[1:6]
correlations_ashe_accuracy

review_scores_accuracy                          1.000000
review_scores_rating                            0.806759
review_scores_value                             0.680326
review_scores_communication                     0.638231
review_scores_cleanliness                       0.636593
review_scores_checkin                           0.493106
review_scores_location                          0.401059
reviews_per_month                               0.152457
number_of_reviews_l30d                          0.142821
number_of_reviews_ltm                           0.119114
number_of_reviews                               0.078149
longitude                                       0.061237
neighbourhood_cleansed                          0.052142
id                                              0.019602
latitude                                       -0.004631
calculated_host_listings_count_private_rooms   -0.031316
host_id                                        -0.049867
minimum_nights                                 -0.062802
maximum_nights                                 -0.078413
calculated_host_listings_count_shared_rooms    -0.087392
beds                                           -0.089998
accommodates                                   -0.109392
bedrooms                                       -0.143388
host_total_listings_count                      -0.206078
host_listings_count                            -0.206078
calculated_host_listings_count_entire_homes    -0.235132
calculated_host_listings_count                 -0.244195
Name: review_scores_accuracy, dtype: float64

Does the host response rate correlate with higher overall ratings?

In [75]:
# Nashville ratings v. host response 
nash_clean2 = nash_rows.rename(columns={"neighbourhood_cleansed": "district","review_scores_accuracy":"accuracry_review", "review_scores_cleanliness":"cleanliness_review","review_scores_checkin":"checkin_review",\
    "review_scores_communication":"communication_review","review_scores_location":"location_review","review_scores_value":"value_score", "review_scores_rating": "rating_score"})

# reordering the columns 
new_column_order = ["district","host_response_rate", "rating_score"]

nash_clean2 = nash_clean2[new_column_order]
nash_host_ratings_df = nash_clean2.sort_values(by=["host_response_rate"])

nash_clean2["host_response_rate_float"] = nash_clean2["host_response_rate"].str.replace("%", "").astype("float")/100
# printing the nash_host_ratings_df
nash_clean2

         district host_response_rate  rating_score  host_response_rate_float
0      District 6               100%          4.95                      1.00
1     District 18               100%          4.94                      1.00
2     District 18               100%          4.90                      1.00
3     District 12               100%          4.77                      1.00
4     District 12               100%          4.71                      1.00
...           ...                ...           ...                       ...
6142   District 5                91%          5.00                      0.91
6146   District 6               100%          4.75                      1.00
6171  District 17               100%          5.00                      1.00
6173  District 19               100%          5.00                      1.00
6229   District 5               100%          5.00                      1.00

[2692 rows x 4 columns]

In [76]:
# dropping the host_response_rate column 
nash_clean2 = nash_clean2.drop(columns="host_response_rate")
nash_clean2

         district  rating_score  host_response_rate_float
0      District 6          4.95                      1.00
1     District 18          4.94                      1.00
2     District 18          4.90                      1.00
3     District 12          4.77                      1.00
4     District 12          4.71                      1.00
...           ...           ...                       ...
6142   District 5          5.00                      0.91
6146   District 6          4.75                      1.00
6171  District 17          5.00                      1.00
6173  District 19          5.00                      1.00
6229   District 5          5.00                      1.00

[2692 rows x 3 columns]

In [77]:
# groupby the individual districts 
nash_host_per_district = nash_clean2.groupby(["district"]).mean()
nash_host_per_district

             rating_score  host_response_rate_float
district
District 1       4.919091                  0.985909
District 10      4.944615                  0.961538
District 11      4.797500                  0.857500
District 12      4.821818                  0.999545
District 13      4.865357                  0.975000
District 14      4.762273                  0.976364
District 15      4.795732                  0.993415
District 16      4.845574                  0.996721
District 17      4.887112                  0.993465
District 18      4.828426                  0.991019
District 19      4.808919                  0.988490
District 2       4.786757                  0.991351
District 20      4.876579                  0.997632
District 21      4.797569                  0.984745
District 22      4.783750                  0.933750
District 23      4.888571                  1.000000
District 24      4.870000                  0.994821
District 25      4.918966                  1.000000
District 26      4.883889                  0.993889
District 27      4.883750                  1.000000
District 28      4.794286                  1.000000
District 29      4.908333                  0.999444
District 3       4.918333                  0.993333
District 30      4.763846                  0.992308
District 31      4.882500                  1.000000
District 32      4.775000                  0.998333
District 33      4.986667                  1.000000
District 34      4.777500                  1.000000
District 35      4.843846                  0.990000
District 4       4.891111                  1.000000
District 5       4.881800                  0.987600
District 6       4.905984                  0.988594
District 7       4.904074                  0.989481
District 8       4.898966                  0.980690
District 9       4.878333                  0.960000

In [78]:
# function to clean the host_response_rate column 

# def response_parse(rate):
#     changed_rate=[]
#     for r in rate:
#         if r["host_response_rate"].values():
#             r["host_response_rate"].str.replace("%", "").astype("float")/100
#             changed_rate.append(r)
#     return changed_rate

In [79]:
# combining this with the nash_host_per_district with  nashville_zip_ratings_df 
combined_nash_df = pd.merge(nashville_df2, nash_host_per_district, how="left", on="district")
combined_nash_df2 = combined_nash_df.drop(columns="rating_score_y")
combined_nash_df2

,district,rating_score_x,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties,host_response_rate_float
0,District 35,4.843846,4.881538,4.790000,4.959231,4.890769,4.876923,4.854615,13.0,0.990000
1,District 34,4.777500,4.932500,4.817500,4.967500,4.972500,4.945000,4.785000,4.0,1.000000
2,District 33,4.986667,4.986667,4.650000,4.990000,4.996667,4.960000,4.973333,3.0,1.000000
3,District 32,4.775000,4.810000,4.841667,4.908333,4.885000,4.843333,4.838333,6.0,0.998333
4,District 31,4.882500,4.942500,4.950000,4.945000,4.907500,4.850000,4.925000,4.0,1.000000
5,District 30,4.763846,4.835385,4.676154,4.938462,4.917692,4.710000,4.763846,13.0,0.992308
6,District 29,4.908333,4.932778,4.903889,4.966111,4.935000,4.826111,4.873889,18.0,0.999444
7,District 28,4.794286,4.837143,4.798571,4.947143,4.927143,4.754286,4.822857,7.0,1.000000
8,District 27,4.883750,4.906250,4.877500,4.971250,4.903750,4.821250,4.853750,8.0,1.000000
9,District 26,4.883889,4.918333,4.878889,4.954444,4.943889,4.839444,4.866667,18.0,0.993889
10,District 25,4.918966,4.942414,4.921724,4.959310,4.949310,4.950345,4.862414,29.0,1.000000
11,District 24,4.870000,4.895357,4.853036,4.954464,4.941071,4.883571,4.836071,56.0,0.994821
12,District 23,4.888571,4.875714,4.872857,4.947143,4.930000,4.884286,4.825714,7.0,1.000000
13,District 22,4.783750,4.907500,4.806250,4.933750,4.953750,4.835000,4.827500,8.0,0.933750
14,District 21,4.797569,4.837294,4.772078,4.898431,4.893255,4.670863,4.758588,255.0,0.984745
15,District 20,4.876579,4.904342,4.833421,4.930000,4.931053,4.807237,4.858026,76.0,0.997632
16,District 19,4.808919,4.858156,4.818029,4.856693,4.889650,4.799269,4.738045,629.0,0.988490
17,District 18,4.828426,4.870833,4.837315,4.889537,4.888148,4.899352,4.779074,108.0,0.991019
18,District 17,4.887112,4.909544,4.848602,4.936261,4.936201,4.850456,4.825015,329.0,0.993465
19,District 16,4.845574,4.901475,4.807541,4.960000,4.951475,4.763770,4.810328,61.0,0.996721
20,District 15,4.795732,4.839024,4.824024,4.886098,4.859146,4.829878,4.744390,82.0,0.993415
21,District 14,4.762273,4.838182,4.798182,4.913636,4.802273,4.673636,4.752727,22.0,0.976364
22,District 13,4.865357,4.907143,4.806786,4.941071,4.945357,4.850714,4.847500,28.0,0.975000
23,District 12,4.821818,4.836364,4.641818,4.932273,4.917727,4.798182,4.769091,22.0,0.999545
24,District 11,4.797500,4.807500,4.660000,4.973750,4.971250,4.643750,4.920000,8.0,0.857500
25,District 10,4.944615,4.892308,4.945385,4.994615,4.929231,4.913846,4.852308,13.0,0.961538
26,District 9,4.878333,4.863333,4.895000,4.935000,4.940000,4.691667,4.846667,6.0,0.960000
27,District 8,4.898966,4.948621,4.840517,4.972759,4.962586,4.875000,4.902759,58.0,0.980690
28,District 7,4.904074,4.922000,4.890074,4.958667,4.951111,4.823333,4.865407,135.0,0.989481
29,District 6,4.905984,4.920643,4.889719,4.948394,4.944458,4.908233,4.844618,249.0,0.988594
30,District 5,4.881800,4.902933,4.851267,4.951967,4.939300,4.764833,4.823400,300.0,0.987600
31,District 4,4.891111,4.945556,4.922222,4.961111,4.955556,4.845556,4.885556,9.0,1.000000
32,District 3,4.918333,4.965833,4.875000,4.963333,4.954167,4.849167,4.790000,12.0,0.993333
33,District 2,4.786757,4.833514,4.737703,4.861622,4.875946,4.632297,4.769054,74.0,0.991351
34,District 1,4.919091,4.933636,4.867727,4.970455,4.963636,4.855000,4.911818,22.0,0.985909

In [80]:
# sending to SQL

In [85]:
# Asheville ratings v. host response 
ashe_clean2 = ashe_rows.rename(columns={"neighbourhood_cleansed": "district","review_scores_accuracy":"accuracry_review", "review_scores_cleanliness":"cleanliness_review","review_scores_checkin":"checkin_review",\
    "review_scores_communication":"communication_review","review_scores_location":"location_review","review_scores_value":"value_score", "review_scores_rating": "rating_score"})

# reordering the columns 
new_column_order1 = ["district","host_response_rate", "rating_score"]

ashe_clean2 = ashe_clean2[new_column_order1]

ashe_host_ratings_df = ashe_clean2.sort_values(by=["host_response_rate"])

ashe_clean2["host_response_rate_float"] = ashe_clean2["host_response_rate"].str.replace("%", "").astype("float")/100
# printing the df 

ashe_clean2

      district host_response_rate  rating_score  host_response_rate_float
0        28801               100%          4.49                      1.00
1        28806               100%          4.57                      1.00
2        28806               100%          4.52                      1.00
6        28804                75%          4.87                      0.75
10       28804               100%          4.90                      1.00
...        ...                ...           ...                       ...
2559     28806               100%          5.00                      1.00
2565     28805               100%          4.00                      1.00
2577     28806               100%          4.00                      1.00
2592     28715               100%          5.00                      1.00
2597     28806               100%          5.00                      1.00

[1028 rows x 4 columns]

In [86]:
# dropping the host_response_rate column 
ashe_clean2 = ashe_clean2.drop(columns="host_response_rate")
ashe_clean2["district"] = "District" + " " + ashe_clean2["district"].astype(str)
ashe_clean2

            district  rating_score  host_response_rate_float
0     District 28801          4.49                      1.00
1     District 28806          4.57                      1.00
2     District 28806          4.52                      1.00
6     District 28804          4.87                      0.75
10    District 28804          4.90                      1.00
...              ...           ...                       ...
2559  District 28806          5.00                      1.00
2565  District 28805          4.00                      1.00
2577  District 28806          4.00                      1.00
2592  District 28715          5.00                      1.00
2597  District 28806          5.00                      1.00

[1028 rows x 3 columns]

In [87]:
ashe_host_per_district = ashe_clean2.groupby(["district"]).mean()
ashe_host_per_district

                rating_score  host_response_rate_float
district
District 28704      4.875455                  0.978182
District 28715      4.867083                  0.983333
District 28732      4.909583                  0.958333
District 28801      4.882558                  0.983721
District 28803      4.904706                  0.991529
District 28804      4.880360                  0.991583
District 28805      4.923434                  1.000000
District 28806      4.896623                  0.994503

In [88]:
# joining the host dataframe to the main asheville dataframe 
combined_ashe_df = pd.merge(stat_ashe_per_district_df1, ashe_clean2, how="left", on="district")
combined_ashe_df2 = combined_ashe_df.drop(columns="rating_score_y")
combined_ashe_df2

,district,rating_score_x,accuracry_review,cleanliness_review,checkin_review,communication_review,location_review,value_score,number_properties,host_response_rate_float
0,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0,1.0
1,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0,1.0
2,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0,1.0
3,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0,1.0
4,District 28715,4.867083,4.906250,4.840000,4.965000,4.941250,4.819167,4.816250,24.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1023,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0,1.0
1024,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0,1.0
1025,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0,1.0
1026,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0,1.0
1027,District 28805,4.923434,4.943636,4.929293,4.969495,4.959192,4.923939,4.869394,99.0,1.0

In [ ]:
ashe_clean2.to_sql(name="ashe_host_ratings", con=engine, if_exists="replace")

Getting Characteristics rows for NASHVILLE

In [91]:
nash_character = nash_rows[["room_type",'accommodates',
    'bathrooms_text','bedrooms','beds','amenities','price',
    'minimum_nights','maximum_nights']]

nash_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights
0,Private room,2,1 private bath,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365
1,Private room,2,1 private bath,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29
2,Entire home/apt,4,1 bath,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30
3,Private room,2,1 private bath,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365
4,Private room,1,1 shared bath,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365

In [92]:
# Describe the characterics of nashville summed 
nash_character.describe()

       accommodates     bedrooms         beds  minimum_nights  maximum_nights
count   2692.000000  2692.000000  2692.000000     2692.000000     2692.000000
mean       6.691308     2.351040     4.148588        4.221025      566.723254
std        3.675447     1.383567     3.583405        8.009598      492.023101
min        1.000000     1.000000     1.000000        1.000000        2.000000
25%        4.000000     1.000000     2.000000        1.000000       45.000000
50%        6.000000     2.000000     3.000000        2.000000      365.000000
75%       10.000000     3.000000     5.000000        2.000000     1125.000000
max       16.000000    14.000000    32.000000       60.000000     1500.000000

In [93]:
# Get data types to destermine if need to add/or convert 
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
dtype: object

In [94]:
#Adding two new columns to the existing dataframe.
#splitting is done on the basis of underscore.
nash_character[['bathrooms','bath_text','other_bath']] = nash_character.bathrooms_text.apply(
   lambda x: pd.Series(str(x).split(" ")))

/Users/TuTu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [95]:
# Find what new "bathrooms" column looks like. Make sure no words, only numbers.
nash_character.bathrooms

0         1
1         1
2         1
3         1
4         1
       ...
6142      6
6146      1
6171    3.5
6173      1
6229    3.5
Name: bathrooms, Length: 2692, dtype: object

In [96]:
#See new columns added to nash_character df
nash_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms,bath_text,other_bath
0,Private room,2,1 private bath,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365,1,private,bath
1,Private room,2,1 private bath,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29,1,private,bath
2,Entire home/apt,4,1 bath,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30,1,bath,NaN
3,Private room,2,1 private bath,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365,1,private,bath
4,Private room,1,1 shared bath,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365,1,shared,bath

In [97]:
#Drop unused bathroom column
nash_character.drop(columns = ["bathrooms_text","bath_text","other_bath"])

,room_type,accommodates,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms
0,Private room,2,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365,1
1,Private room,2,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29,1
2,Entire home/apt,4,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30,1
3,Private room,2,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365,1
4,Private room,1,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365,1
...,...,...,...,...,...,...,...,...,...
6142,Entire home/apt,12,4.0,11.0,"[""Microwave"", ""Wifi"", ""Essentials"", ""Refrigera...",$586.00,2,30,6
6146,Entire home/apt,2,1.0,1.0,"[""Microwave"", ""Wifi"", ""Body soap"", ""Essentials...",$77.00,1,365,1
6171,Entire home/apt,7,3.0,4.0,"[""Microwave"", ""Wifi"", ""Freezer"", ""Body soap"", ...",$137.00,1,365,3.5
6173,Entire home/apt,2,1.0,1.0,"[""Pool""]",$144.00,1,14,1
6229,Entire home/apt,10,3.0,7.0,"[""Microwave"", ""Wifi"", ""Freezer"", ""Body soap"", ...",$246.00,2,1125,3.5

In [98]:
#Confirm "bathrooms_text","bath_text","other_bath" coulmns were droped
nash_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath'],
      dtype='object')

In [99]:
# Determine data types to find if new "bathrooms" column is int
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms          object
bath_text          object
other_bath         object
dtype: object

In [100]:
#Convert column from object to float then to int
nash_character["bathrooms"] = pd.to_numeric(nash_character["bathrooms"], errors='coerce')

<ipython-input-100-77416f2f6b3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nash_character["bathrooms"] = pd.to_numeric(nash_character["bathrooms"], errors='coerce')

In [101]:
#Check "bathrooms" data type
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms         float64
bath_text          object
other_bath         object
dtype: object

In [102]:
#Convert column from float then to int
nash_character = nash_character.replace(np.nan, 0, regex=True)

In [103]:
#Convert column from float then to int
nash_character['bathrooms'] = nash_character['bathrooms'].astype(int)

In [104]:
#Check data types
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms           int64
bath_text          object
other_bath         object
dtype: object

In [105]:
# Find what new "room_type" column looks like.
nash_character.room_type

0          Private room
1          Private room
2       Entire home/apt
3          Private room
4          Private room
             ...
6142    Entire home/apt
6146    Entire home/apt
6171    Entire home/apt
6173    Entire home/apt
6229    Entire home/apt
Name: room_type, Length: 2692, dtype: object

In [106]:
#Create a 1(yes) or 0(no) column to determin the room_type. Only 2 options. "Entire home/apt = 1, Private room or other = 0"
#create a new column and use np.select to assign values to it usinig our list as arguments
nash_character["Entirehome/apt"] = np.where(nash_character["room_type"]!="Entire home/apt", 1, 0)


#display updated dataframe columns
nash_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath', 'Entirehome/apt'],
      dtype='object')

In [107]:
#Display the Descriptions of airb-n-b characteristics 
nash_character.describe()

,accommodates,bedrooms,beds,minimum_nights,maximum_nights,bathrooms,Entirehome/apt
count,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000
mean,6.691308,2.351040,4.148588,4.221025,566.723254,1.941308,0.111441
std,3.675447,1.383567,3.583405,8.009598,492.023101,1.314913,0.314736
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000
25%,4.000000,1.000000,2.000000,1.000000,45.000000,1.000000,0.000000
50%,6.000000,2.000000,3.000000,2.000000,365.000000,1.000000,0.000000
75%,10.000000,3.000000,5.000000,2.000000,1125.000000,3.000000,0.000000
max,16.000000,14.000000,32.000000,60.000000,1500.000000,14.000000,1.000000

In [108]:
nash_character["Entirehome/apt"]

0       1
1       1
2       0
3       1
4       1
       ..
6142    0
6146    0
6171    0
6173    0
6229    0
Name: Entirehome/apt, Length: 2692, dtype: int64

In [109]:
#Find number of Entire home/apt listings
sum_of_home_type = nash_character["Entirehome/apt"].sum()
print(sum_of_home_type)

300

Characteristics for Asheville

In [110]:
# Find columns to deterime the "characterists" columns
ashe_rows.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [113]:
ashe_character = ashe_rows[['room_type','accommodates',
    'bathrooms_text','bedrooms','beds','amenities','price',
    'minimum_nights','maximum_nights']]

ashe_character

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights
0,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365
1,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365
2,Private room,2,2.5 shared baths,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365
6,Entire home/apt,4,1 bath,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360
10,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365
...,...,...,...,...,...,...,...,...,...
2559,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Fire pit"", ""Refrigerator"", ""Ki...",$74.00,1,25
2565,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$100.00,1,1125
2577,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Clothing storage: closet"", ""De...",$119.00,2,365
2592,Entire home/apt,5,1.5 baths,2.0,2.0,"[""Essentials"", ""Kitchen"", ""Central heating"", ""...",$119.00,2,365
2597,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$77.00,2,1125

In [114]:
# Describe the characterics of Asheville summed 
ashe_character.describe()

       accommodates     bedrooms         beds  minimum_nights  maximum_nights
count   1028.000000  1028.000000  1028.000000     1028.000000     1028.000000
mean       4.473735     1.842412     2.420233        4.932879      457.199416
std        2.834667     1.091023     1.798100       14.659205      513.965381
min        1.000000     1.000000     1.000000        1.000000        2.000000
25%        2.000000     1.000000     1.000000        1.000000       27.000000
50%        4.000000     1.000000     2.000000        2.000000       90.000000
75%        6.000000     2.000000     3.000000        2.000000     1125.000000
max       16.000000     8.000000    21.000000      365.000000     1125.000000

In [115]:
# Get data types to destermine if need to add/or convert 
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
dtype: object

In [116]:
 #Adding two new columns to the existing dataframe.
#splitting is done on the basis of underscore.


ashe_character[['bathrooms','bath_text','other_bath']] = ashe_character.bathrooms_text.apply(
   lambda x: pd.Series(str(x).split(" ")))

/Users/TuTu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [117]:
#  Find what new "bathrooms" column looks like. Make sure no words, only numbers.
ashe_character.bathrooms

0         1
1         1
2       2.5
6         1
10        1
       ...
2559      1
2565      1
2577      1
2592    1.5
2597      1
Name: bathrooms, Length: 1028, dtype: object

In [118]:
#See new columns added to ashe_character df
ashe_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms,bath_text,other_bath
0,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365,1,bath,NaN
1,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365,1,bath,NaN
2,Private room,2,2.5 shared baths,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365,2.5,shared,baths
6,Entire home/apt,4,1 bath,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360,1,bath,NaN
10,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365,1,bath,NaN

In [119]:
#Drop unused bathroom column
ashe_character.drop(columns = ["bathrooms_text","bath_text","other_bath"])

,room_type,accommodates,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms
0,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365,1
1,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365,1
2,Private room,2,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365,2.5
6,Entire home/apt,4,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360,1
10,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365,1
...,...,...,...,...,...,...,...,...,...
2559,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Fire pit"", ""Refrigerator"", ""Ki...",$74.00,1,25,1
2565,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$100.00,1,1125,1
2577,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Clothing storage: closet"", ""De...",$119.00,2,365,1
2592,Entire home/apt,5,2.0,2.0,"[""Essentials"", ""Kitchen"", ""Central heating"", ""...",$119.00,2,365,1.5
2597,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$77.00,2,1125,1

In [120]:
#Confirm "bathrooms_text","bath_text","other_bath" coulmns were droped
ashe_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath'],
      dtype='object')

In [121]:
# Determine data types to find if new "bathrooms" column is int
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms          object
bath_text          object
other_bath         object
dtype: object

In [122]:
#Convert column from object to float then to int
ashe_character["bathrooms"] = pd.to_numeric(ashe_character["bathrooms"])

<ipython-input-122-bb63f16d74cd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["bathrooms"] = pd.to_numeric(ashe_character["bathrooms"])

In [123]:
#Check "bathrooms" data type
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms         float64
bath_text          object
other_bath         object
dtype: object

In [124]:
#Convert column from float then to int
ashe_character["bathrooms"] = ashe_character.bathrooms.astype(int)

<ipython-input-124-e0de7929562a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["bathrooms"] = ashe_character.bathrooms.astype(int)

In [125]:
#Check "bathrooms" data type
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms           int64
bath_text          object
other_bath         object
dtype: object

In [126]:
# Find what new "room_type" column looks like.
ashe_character.room_type

0       Entire home/apt
1       Entire home/apt
2          Private room
6       Entire home/apt
10      Entire home/apt
             ...
2559    Entire home/apt
2565    Entire home/apt
2577    Entire home/apt
2592    Entire home/apt
2597    Entire home/apt
Name: room_type, Length: 1028, dtype: object

In [127]:
#Create a 1(yes) or 0(no) column to determin the room_type. Only 2 options. "Entire home/apt = 1, Private room or other = 0"
#create a new column and use np.select to assign values to it usinig our list as arguments

#create a new column and use np.select to assign values to it usinig our list as arguments
ashe_character["Entirehome/apt"] = np.where(ashe_character["room_type"]!="Entire home/apt", 1, 0)


#display updated dataframe
ashe_character.columns

<ipython-input-127-11606bef394e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["Entirehome/apt"] = np.where(ashe_character["room_type"]!="Entire home/apt", 1, 0)

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath', 'Entirehome/apt'],
      dtype='object')

In [128]:
ashe_character["Entirehome/apt"]

0       0
1       0
2       1
6       0
10      0
       ..
2559    0
2565    0
2577    0
2592    0
2597    0
Name: Entirehome/apt, Length: 1028, dtype: int64

In [129]:
#Find number of Entire home/apt listings
sum_of_home_type_ashe = ashe_character["Entirehome/apt"].sum()
print(sum_of_home_type_ashe)

147

In [130]:
#Display the Descriptions of airb-n-b characteristics 
ashe_character.describe()

,accommodates,bedrooms,beds,minimum_nights,maximum_nights,bathrooms,Entirehome/apt
count,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000
mean,4.473735,1.842412,2.420233,4.932879,457.199416,1.434825,0.142996
std,2.834667,1.091023,1.798100,14.659205,513.965381,0.750614,0.350239
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,27.000000,1.000000,0.000000
50%,4.000000,1.000000,2.000000,2.000000,90.000000,1.000000,0.000000
75%,6.000000,2.000000,3.000000,2.000000,1125.000000,2.000000,0.000000
max,16.000000,8.000000,21.000000,365.000000,1125.000000,6.000000,1.000000

In [131]:
ashe_character

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms,bath_text,other_bath,Entirehome/apt
0,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365,1,bath,NaN,0
1,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365,1,bath,NaN,0
2,Private room,2,2.5 shared baths,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365,2,shared,baths,1
6,Entire home/apt,4,1 bath,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360,1,bath,NaN,0
10,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365,1,bath,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Fire pit"", ""Refrigerator"", ""Ki...",$74.00,1,25,1,bath,NaN,0
2565,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$100.00,1,1125,1,bath,NaN,0
2577,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Clothing storage: closet"", ""De...",$119.00,2,365,1,bath,NaN,0
2592,Entire home/apt,5,1.5 baths,2.0,2.0,"[""Essentials"", ""Kitchen"", ""Central heating"", ""...",$119.00,2,365,1,baths,NaN,0
2597,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$77.00,2,1125,1,bath,NaN,0

In [ ]:
engine.close()